@model ParkingAuth.Models.nacin_placanja

@{
    ViewBag.Title = "Delete nacin placanja";
    Layout = "~/Views/back-end/layout/back_end_layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>nacin_placanja</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.naziv_nacin_placanja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.naziv_nacin_placanja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updated_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updated_at)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
