@model ParkingAuth.Models.menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/back-end/layout/back_end_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naslov_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naslov_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parent_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.redosled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.redosled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vrsta_korisnici.naziv_vrsta_korisnici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vrsta_korisnici.naziv_vrsta_korisnici)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
